name: CI - Build & Dockerize .NET App

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore dependencies
        run: dotnet restore app/ReferenceApi/ReferenceApi.csproj

      - name: Build application
        run: dotnet build app/ReferenceApi/ReferenceApi.csproj --configuration Release --no-restore

      - name: Run tests
        run: dotnet test app/ReferenceApi/ReferenceApi.csproj --no-build --verbosity normal

      - name: Build Docker image
        run: |
          cd app/ReferenceApi
          docker build -t reference-api:ci .
